body {
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}

.logo{
    position: absolute;
    margin: 40px 84px;
    display: inline-block;
}

.container{
    height: 1024px;
    width: 1440px;
    left: -2277px;
    top: 622px;
}

.section-left{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 15px;
}

.text-box{
    position: absolute;
    margin: 20px;
    padding: 30px;
    width: 577px;
    height: 600px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #0A3871;
    line-height: 150%;    
    resize: unset;  /*para que no se pueda cambiar de tamaño el area de escritura*/
    border: none;
    outline: none; 
    background: #F3F5FC;

}

.alert{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;    
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}

.bi-exclamation-circle-fill{
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.alert h2{
    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    /* Gray/gray-400 */
    color: #495057;
    opacity: 0.8;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.container-btns{
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.btn-encriptar{
    display: inline-block;
    padding: 20px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    font-size: 20px;
}

.btn-desencriptar{
    display: inline-block;
    padding: 20px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    color:#0A3871;
    font-size: 20px;
}

.section-right{
    position: absolute;
    top: 40px;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.contenedor-munieco{
    margin: 37% 5% auto;
}

.contenedor-parrafo{
    color: #0A3871;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 39%;
}

#result{
    margin: 20% auto;
    padding: 5%;
    width: 75%;
    height: 6%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 29px */
    color: #343A40;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
    
}

#areaTexto{
    width: 80%;
    height: auto;
    margin-left: 7%;
    margin-right: 7%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 70%;
    text-align: left;
    color: #495057;
    border: none;
    outline: none;
    resize: none;
}

.contenedor-copiar{
    display: flex;
    width: 100%;
    height: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#btn-copiar{
    margin: 0% 9%;
    padding: 9%;
    width: 328px;
    height: 67px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    font-size: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}